@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Herramientas demo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <table>
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Alumnos)
            {
                <tr>
                    <td>@item.DNI</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                </tr>
            }
        </tbody>
    </table>
</div>
